.toolbar-bar .toolbar-icon-quicktwig-form:before {
  background-image: url("../icons/bebebe/quicktwig.svg");
}
.no-svg .toolbar-bar .toolbar-icon-quicktwig-form:before {
  background-image: url("../icons/bebebe/quicktwig.png");
}
.toolbar-bar .toolbar-icon-quicktwig-form:active:before,
.toolbar-bar .toolbar-icon-quicktwig-form.active:before {
  background-image: url("../icons/ffffff/quicktwig.svg");
}
.no-svg .toolbar-bar .toolbar-icon-quicktwig-form:active:before,
.no-svg .toolbar-bar .toolbar-icon-quicktwig-form.active:before {
  background-image: url("../icons/ffffff/quicktwig.png");
}

.toolbar-tray .toolbar-icon-quicktwig-form:before {
  background-image: url("../icons/787878/quicktwig.svg");
}
.no-svg .toolbar-tray .toolbar-icon-quicktwig-form:before {
  background-image: url("../icons/787878/quicktwig.png");
}
.toolbar-tray .toolbar-icon-quicktwig-form:active:before,
.toolbar-tray .toolbar-icon-quicktwig-form.active:before {
  background-image: url("../icons/000000/quicktwig.svg");
}
.no-svg .toolbar-tray .toolbar-icon-quicktwig-form:active:before,
.no-svg .toolbar-tray .toolbar-icon-quicktwig-form.active:before {
  background-image: url("../icons/000000/quicktwig.png");
}
